.aboutSection {
  background-color: #212529;
  color: white;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
}
.contentContainer {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  position: relative;
  color: #4e73df;
  text-align: center;
}

.underline {
  width: 60px;
  height: 3px;
  background: #4e73df;
  margin: 0.5rem auto;
  margin-bottom: 1.5rem;
}

.textContent {
  text-align: center;
}

.description {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}