.container1{
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding-top: 20px;
  color: white;
 
}
.heading{
  font-size: 40px;
  font-weight: 700;
}
.line{
  height: 2px;
  background-color: rgb(0, 0, 0);
}
.explore{
  margin-top: 50px;
  font-size: 20px;
  margin-left: 20px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  background-color: white;
  text-decoration: none;
  border: none;
}
.outercontainer{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 10%;
  overflow-x: auto ;
  
}
.outercontainer::-webkit-scrollbar {
  display: none;
}
.innercontainer{
  border: 2px solid wheat;
  border-radius: 20px;
  min-width: 300px;
  padding: 20px;
  margin: 20px;
}
.imagecontainer{
  margin-bottom: 20px;
}

.image{
  width: 250px;
  height:250px;
  border-radius: 50%;
  
}
.valuecontainer{
  font-size: 20px;
  font-weight: 400;
}

.buy{
  width: 200px;
}
.slide{
  width: 100%;
}